@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Fredericka+the+Great|Roboto|Roboto+Slab');

/* font-family: 'Cabin Sketch', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */

body {
  background-color: #E3D018; 
  font-family: 'Fredericka the Great', cursive;
  margin: 20px;
}

/* .board-row:after {
  background: #E3D018;
  clear: both;
  content: "HI";
  display: table;
} */

.card {
  
}

.status {
  font-family: 'Cabin Sketch', cursive;
  margin-bottom: 10px;
}

.square {
  background: #91C7B1;
  border: 1px solid #999;
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
